In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("Power consumption_20210811_data.csv")
df2 = pd.read_csv("Power consumption_20210812_data.csv")
df3 = pd.read_csv("Power consumption_20210813_data.csv")

In [4]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(9497, 20)
(17025, 20)
(16364, 20)

In [5]:
df1.head(2)

,Time_UTC,ACTIVE_POWER_L1,ACTIVE_POWER_L2,ACTIVE_POWER_L3,REACTIVE_POWER_L1,REACTIVE_POWER_L2,REACTIVE_POWER_L3,VOLTAGE_L1,VOLTAGE_L2,VOLTAGE_L3,CURRENT_L1,CURRENT_L2,CURRENT_L3,FREQUENCY,ACTIVE_POWER,REACTIVE_POWER,ACTIVE_PRODUCTION_ENERGY,ACTIVE_CONSUMPTION_ENERGY,SUM_CURRENT,Step
0,2021-08-11 11:18:18.629490,305.494873,272.830109,606.479248,-713.357605,-1066.090088,-915.804382,231.355011,228.812332,228.914993,4.035818,5.255683,5.632975,50.006489,1686.087158,-2713.793457,135.82019,7062.964844,0.101375,1
1,2021-08-11 11:18:20.023279,424.352814,395.019257,726.766357,-719.084839,-1071.915894,-918.262146,231.335464,228.763794,228.944809,3.942000,5.195732,5.462113,50.005203,1545.876221,-2707.320068,135.82019,7063.729980,0.107763,1

In [6]:
df2.head(2)

,Time_UTC,ACTIVE_POWER_L1,ACTIVE_POWER_L2,ACTIVE_POWER_L3,REACTIVE_POWER_L1,REACTIVE_POWER_L2,REACTIVE_POWER_L3,VOLTAGE_L1,VOLTAGE_L2,VOLTAGE_L3,CURRENT_L1,CURRENT_L2,CURRENT_L3,FREQUENCY,ACTIVE_POWER,REACTIVE_POWER,ACTIVE_PRODUCTION_ENERGY,ACTIVE_CONSUMPTION_ENERGY,SUM_CURRENT,Step
0,2021-08-12 07:31:26.564680,2273.054932,2130.366211,2577.348145,-285.991791,-743.504883,-623.066101,227.368576,226.851532,226.929535,4.579801,4.958370,6.471914,49.989494,2999.477539,-1652.562744,420.943024,21749.560547,0.09012,1
1,2021-08-12 07:31:28.273461,849.257141,692.981201,1158.664551,-267.947571,-732.249878,-618.443237,227.936554,227.392776,227.113846,5.827615,5.896119,6.084311,49.991249,3895.557129,-1668.195557,420.943024,21751.058594,0.10436,1

In [7]:
df3.head(2)

,Time_UTC,ACTIVE_POWER_L1,ACTIVE_POWER_L2,ACTIVE_POWER_L3,REACTIVE_POWER_L1,REACTIVE_POWER_L2,REACTIVE_POWER_L3,VOLTAGE_L1,VOLTAGE_L2,VOLTAGE_L3,CURRENT_L1,CURRENT_L2,CURRENT_L3,FREQUENCY,ACTIVE_POWER,REACTIVE_POWER,ACTIVE_PRODUCTION_ENERGY,ACTIVE_CONSUMPTION_ENERGY,SUM_CURRENT,Step
0,2021-08-13 08:03:21.295990,503.181641,389.036774,822.396912,-652.481140,-1084.800415,-952.337646,228.664719,227.688858,227.468140,3.937116,5.213577,5.825647,50.012909,1714.615234,-2829.827148,905.748718,46645.640625,0.075986,1
1,2021-08-13 08:03:22.897149,500.694885,374.965393,820.520325,-644.115479,-1085.243896,-958.825928,229.199722,228.254074,227.945099,4.943660,5.963668,6.857153,50.013702,2746.971680,-2725.663818,905.748718,46646.515625,0.062716,1

In [81]:
cols1 = pd.DataFrame(df1.columns).reset_index()
cols2 = pd.DataFrame(df2.columns).reset_index()
cols3 = pd.DataFrame(df3.columns).reset_index()

In [82]:
#cols1.rename(columns = {'0': 'df1_cols'}, inplace = False)

In [85]:
df_cols = (cols1.merge(cols2,on='index').merge(cols3,on='index'))#.rename(columns = {0: 'df1_cols', 1:'df2_cols'}, inplace = False)
df_cols.set_axis(['index', 'df1_cols', 'df2_cols', 'df3_cols'], axis=1, inplace=False)

,index,df1_cols,df2_cols,df3_cols
0,0,Time_UTC,Time_UTC,Time_UTC
1,1,ACTIVE_POWER_L1,ACTIVE_POWER_L1,ACTIVE_POWER_L1
2,2,ACTIVE_POWER_L2,ACTIVE_POWER_L2,ACTIVE_POWER_L2
3,3,ACTIVE_POWER_L3,ACTIVE_POWER_L3,ACTIVE_POWER_L3
4,4,REACTIVE_POWER_L1,REACTIVE_POWER_L1,REACTIVE_POWER_L1
5,5,REACTIVE_POWER_L2,REACTIVE_POWER_L2,REACTIVE_POWER_L2
6,6,REACTIVE_POWER_L3,REACTIVE_POWER_L3,REACTIVE_POWER_L3
7,7,VOLTAGE_L1,VOLTAGE_L1,VOLTAGE_L1
8,8,VOLTAGE_L2,VOLTAGE_L2,VOLTAGE_L2
9,9,VOLTAGE_L3,VOLTAGE_L3,VOLTAGE_L3
10,10,CURRENT_L1,CURRENT_L1,CURRENT_L1
11,11,CURRENT_L2,CURRENT_L2,CURRENT_L2
12,12,CURRENT_L3,CURRENT_L3,CURRENT_L3
13,13,FREQUENCY,FREQUENCY,FREQUENCY
14,14,ACTIVE_POWER,ACTIVE_POWER,ACTIVE_POWER
15,15,REACTIVE_POWER,REACTIVE_POWER,REACTIVE_POWER
16,16,ACTIVE_PRODUCTION_ENERGY,ACTIVE_PRODUCTION_ENERGY,ACTIVE_PRODUCTION_ENERGY
17,17,ACTIVE_CONSUMPTION_ENERGY,ACTIVE_CONSUMPTION_ENERGY,ACTIVE_CONSUMPTION_ENERGY
18,18,SUM_CURRENT,SUM_CURRENT,SUM_CURRENT
19,19,Step,Step,Step

In [22]:
cols1[~cols1[0].isin(cols2[0])]

Empty DataFrame
Columns: [0]
Index: []

In [23]:
cols1[~cols1[0].isin(cols3[0])]

Empty DataFrame
Columns: [0]
Index: []

In [24]:
cols2[~cols2[0].isin(cols3[0])]

Empty DataFrame
Columns: [0]
Index: []

In [27]:
cols3[~cols3[0].isin(cols1[0])]

Empty DataFrame
Columns: [0]
Index: []

In [18]:
df = pd.concat([df1,df2,df3])
df

,Time_UTC,ACTIVE_POWER_L1,ACTIVE_POWER_L2,ACTIVE_POWER_L3,REACTIVE_POWER_L1,REACTIVE_POWER_L2,REACTIVE_POWER_L3,VOLTAGE_L1,VOLTAGE_L2,VOLTAGE_L3,CURRENT_L1,CURRENT_L2,CURRENT_L3,FREQUENCY,ACTIVE_POWER,REACTIVE_POWER,ACTIVE_PRODUCTION_ENERGY,ACTIVE_CONSUMPTION_ENERGY,SUM_CURRENT,Step
0,2021-08-11 11:18:18.629490,305.494873,272.830109,606.479248,-713.357605,-1066.090088,-915.804382,231.355011,228.812332,228.914993,4.035818,5.255683,5.632975,50.006489,1686.087158,-2713.793457,135.82019,7062.964844,0.101375,1
1,2021-08-11 11:18:20.023279,424.352814,395.019257,726.766357,-719.084839,-1071.915894,-918.262146,231.335464,228.763794,228.944809,3.942000,5.195732,5.462113,50.005203,1545.876221,-2707.320068,135.82019,7063.729980,0.107763,1
2,2021-08-11 11:18:21.597561,641.623962,606.372681,936.373413,-710.569763,-1057.021729,-908.910034,231.892776,229.130890,229.459747,4.664993,5.651007,6.195558,50.003578,2184.370117,-2676.501465,135.82019,7064.480957,0.089655,1
3,2021-08-11 11:18:23.095950,309.652222,282.720428,621.095276,-706.561157,-1065.916870,-907.972717,231.671188,229.143402,229.410553,3.700955,5.009404,5.168604,50.002037,1213.468018,-2680.450684,135.82019,7065.109863,0.084357,1
4,2021-08-11 11:18:24.730276,306.858917,280.084656,611.277405,-712.870789,-1066.689453,-911.662292,231.500015,229.165573,229.230469,3.717459,5.005247,5.168575,50.001167,1197.158813,-2689.979248,135.82019,7065.642578,0.082747,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16359,2021-08-13 15:20:09.502964,314.899353,279.525482,603.450317,-697.985596,-1054.575806,-908.751465,230.702209,227.965363,228.608078,3.693648,4.974147,5.083954,49.992634,1180.417358,-2667.756104,1316.07251,67005.585938,0.074135,7
16360,2021-08-13 15:20:11.053390,310.427094,282.760803,598.753906,-706.205017,-1060.138428,-909.106567,230.709549,227.865387,228.663696,3.708999,4.985299,5.097579,49.992302,1191.941772,-2675.450195,1316.07251,67006.117188,0.084395,7
16361,2021-08-13 15:20:12.598974,405.803467,358.516907,665.906006,-706.104065,-1042.900757,-925.444458,230.734360,227.990051,228.699203,4.057699,5.137900,5.498386,49.991245,1550.934814,-2674.449219,1316.07251,67006.773438,0.082157,7
16362,2021-08-13 15:20:14.234325,688.021912,628.168030,938.633972,-718.914368,-1050.833496,-936.932983,230.565247,227.822876,228.249863,4.715611,5.624613,6.197855,49.988895,2277.281738,-2716.250732,1316.07251,67007.617188,0.087998,7
16363,2021-08-13 15:20:15.827196,325.948059,280.762634,599.047058,-702.755615,-1051.605103,-916.946899,230.771622,228.005844,228.652145,3.766193,4.950917,5.156366,49.986015,1205.757812,-2671.307617,1316.07251,67008.382812,0.085063,7